{% extends "base.html" %}

{% block title_matter %}todo dashboard{% endblock %}
{% block head_matter %}
{% block feeds %}
  {% block extra_feeds %}{% endblock %}
  <link rel="alternate" type="application/atom+xml" title="Todo: all tasks" href="{% url django.contrib.syndication.views.feed 'tasks' %}" />
  <link rel="alternate" type="application/atom+xml" title="Todo: all next actions" href="{% url django.contrib.syndication.views.feed 'next' %}" />
  
  <link rel="alternate" type="application/atom+xml" title="Feed builder" href="{% url todo.views.feed_builder %}" />
{% endblock %}
<style>
  body {
     margin: 2em 7em 7em;
  }
  p, form {
    margin: 0;
    padding: 0;
  }
  small {
    font-size: 80%;
    color: #666;
  }
  #menu {
    margin: 0 0 6em;
    padding: 10px;
    font-size: small;
    font-style: italic;
    line-height: 1em;
    background-color: #eee;
  }
  #menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
  }
  #menu li {
    float: left;
    margin: 0 10px;
  }
  #menu br {
    clear: both;
  }
  
  h1, h2 {
    font-weight: normal;
    font-size: 2.5em;
    margin-top: 0;
  }
  h1 + h2 { 
    margin-top: -.5em; 
  }   
  
  .column {
    width: 45%;
    float: left;
    margin: 10px 0 7em;
    -moz-transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
  .column.narrow {
    width: 30%;
  }
  .column.wide {
    width: 60%;
  }
  .column.left {
    float: left;
  }
  .column.right {
    float: right;
  }
  
  .index li a, .groups li a {
    text-decoration: none;
  }
  .groups li a:hover {
    background-color: #ddd;
  }
  .groups ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .groups > ul > li {
    margin: 10px 0;
    padding: 10px;
  }
  .groups.index  > ul > li {
    border: none;
  }
  .groups li ul {
    margin: 10px 0 10px 20px;
  }
  
  #by_locale li {
    background-color: #ff9;
  }
  #by_locale a {
    color: #000;
  }
  .no_tasks, .no_tasks a {
    color: #999 !important;
    background-color: transparent !important;
  }
  
  .bar {
    background-color: #eee;
    border: 1px solid #666;
  }
  .groups .bar {
    float: right;
    width: 300px;
  }
  .groups .bar .progress {
    width: 0;
    height: 14px;
    background: #38ab03 url({% url static path="todo/progressbar14.png" %}) repeat-x 0 0;
  }
  .groups .percent {
    float: right;
    font-size: 1.3em;
    margin: -1px 0 0 1em;
  }
  #project_summary h3 {
    margin-top: .4em;
  }
  #project_summary h3 strong {
    font-weight: normal;
    font-size: 1.7em;
    margin-left: 20px;
  }
  #project_summary .bar {
    margin: 20px 0;
  }
  #project_summary .bar .progress {
    width: 0;
    height: 30px;
    background: #38ab03 url({% url static path="todo/progressbar30.png" %}) repeat-x 0 0;
  }
  li.done {
    color: #666;
  }
  li dt {
    font-style: italic;
  }
  a.button {
    display: block;
    margin-top: 50px;
    padding: 20px 10px;
    background-color: #ff9;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
  }
  a.button:hover {
    background-color: #ff3;
  }
  
  .task {
    border: 1px solid #ccc;
    margin: 10px 0 2em;
    padding: 10px;
  }
  
  h3 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
  } 
  
  #activity h3 {
    margin-top: 10px;
  }
  .status {
    display: none;
    min-height: 2em;
    margin-left: -30px;
    padding-left: 30px;
    margin-top: -5px;
    padding-top: 5px;
    background-repeat: no-repeat;
    background-position: 0 13px;
  }
  #outofdate {
    background-image: url({% url static path="todo/warning.png" %});
  }
  #uptodate {
    background-image: url({% url static path="todo/okay.png" %});
  }
  #checking div {
    background: url({% url static path="loadingAnimation.gif" %}) no-repeat 0 13px;
    width: 208px;
    text-align: center;
    padding-top: 30px;
    font-size: small;
    font-style: italic;
  }
  
  #activity .comment {
    margin-top: 1em;
    border: 1px solid #ccc;
    opacity: 1;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
  #activity .comment.obsolete, #activity .comment.working {
    opacity: 0.5;
  }
  #activity .comment.error {
    padding: 10px;
    border: 2px solid orange;
    font-size: small;
    font-style: italic;
  }
  h4 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    background-color: #eee;
    font-style: italic;
  }
  input + h4 {
    padding-left: 3em;
  }
  #activity .comment .meta {
    float: left; 
    margin: .6em; 
  }
  .comment .meta img, .comment.working .meta input {
    display: none;
    width: 1em;
    height: 1em;
  }
  .comment.working .meta img {
    display: inline;
  }
  .comment.working .meta input {
    display: none;
  }
  
  #activity .comment div, #activity .comment dl {
    padding: 10px;
    font-family: monospace;
  }
  #activity .comment dl {
    margin: 0;
    padding: 0 10px 10px;
    border-top: 1px solid #eee;
    color: #999;
  }
  #activity .comment dt {
    margin-top: 10px;
  }
  #activity .comment dd {
    margin: 0;
    padding: 0 0 0 10px;
  }
  ins {
    text-decoration: none;
    background-color: #c1f6ac;
  }
  del {
    text-decoration: none;
    background-color: #ffcac1;
  }
  
  .edit {
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-small;
    padding: 2px 3px;
    position: relative;
    top: -1em;
    color: #666;
    text-decoration: none;
    opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
  h3:hover .edit {
    opacity: 1;
  }
  .edit:hover {
    background-color: #eee;
  }
  .dashboard.task.resolved {
    opacity: .5;
  }
  .task.resolved h3 span {
    text-decoration: line-through;
  }
  .task.has_bug {
    border-right: 10px solid #ccc;
  }
  .task.outofdate {
    border-right: 10px solid #edbb45;
  }
  .task.uptodate {
    border-right: 10px solid #98E879;
  }
  .snapshot_status {
    float: right;
    display: none;
    padding-left: 20px;
    padding-top: 3px;
    min-height: 16px;
  }
  .task.has_bug .snapshot_status.checking {
    display: block;
    background: url({% url static path="todo/throbber.gif" %}) no-repeat scroll 0 0 transparent;
  }
  .task.outofdate .snapshot_status.checking, .task.uptodate .snapshot_status.checking {
    display: none;
  }
  .task.outofdate .snapshot_status.outofdate {
    display: block;
    background: url({% url static path="todo/warning16.png" %}) no-repeat scroll 0 0 transparent;
  }
  .task.uptodate .snapshot_status.uptodate {
    display: block;
    background: url({% url static path="todo/okay16.png" %}) no-repeat scroll 0 0 transparent;
  }
  
  .tags {
    margin: .5em 0 1em;
  }
  .tag {
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-small;
    padding: 2px 3px;
    color: #666;
    text-decoration: none;
    text-shadow: #fff 1px 1px 0;
    background-color: #ddd;
    border: 1px outset #ccc;
  }
  .tag:hover {
    background-color: #eee;
  }
  
  .todo {
    margin: 10px 20px;
    color: #999;
  }
  
  .task input, .todo input {
    float: left;
    margin-right: 10px;
    margin-left: 0;
  }
  .task input {
    margin-top: 5px;
  }
  .task.active .todo.active, .task.active .todo.next {
    color: #000;
  }
  .task.active .todo.next {
    background-color: #c1f6ac;
  }
  .todo.resolved {
    color: #999;
    text-decoration: line-through;
  }
  .todo.resolved.has_children, #task > .todo.resolved {
    display: none;
  }
  #task.resolved .todo.resolved {
    display: block;
  }
  
  .empty {
    margin: 10px 20px;
    padding: 10px;
  }
  .empty h2 {
    font-style: italic;
  }
  
  table td, table th {
    padding: 10px;
  }
  
  .feed h2 {
    margin: 10px;
    font-size: 1.3em;
    font-style: italic;
  }
  .feed select {
    height: 10em;
  }
  
  #auth {
    float: right;
  }
  
  /* ==================
   * New 
   * ==================
   */
  .new h2 {
    font-size: 1.3em;
    padding: 10px;
    margin: .5em 0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .new h2 + div {
    margin: 1em 0 2em;
  }
  #selected-bugs {
    width: 100%;
    margin: 2em 0;
  }
  #review td, #review th {
    border: none !important;
    text-align: left;
  }
  #selected-bugs small {
    margin-left: 1em;
  }
  #selected-bugs input {
    width: 100%;
  }
  #selected-bugs select[multiple] {
    width: 100%;
    height: 2em;
    -moz-transition: height 0.5s ease-in-out;
  }
  #selected-bugs select[multiple]:hover {
    height: 15em;
  }
  #selected-bugs .summary  {
    width: 70%;
  }
  #selected-bugs .summary input {
    font-size: 12px;
  }
  #selected-bugs .locale {
    width: 20%;
  }
  #common-props table {
    width: 100%;
  }
  #common-props th {
    width: 100px;
  }
  #choose-batch {
    display: none;
    padding: 10px;
    background-color: #ffc;
    border: 1px solid #ccc;
  }
  #choose-batch td, #choose-batch th {
   text-align: center;
   width: auto;
  }
  #create-tasks {
    margin: 1em 10px 0;
  }
  
</style>
{% block extra_head_matter %}{% endblock %}
{% endblock %}

{% block content %}
<div class="{% block bodyclass %}{% endblock %}">
  {% block menu %}
  <div id="menu">
    <div id="auth">
      {% if user.is_authenticated %}
        Hi, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}. 
        <a href="{% url django.contrib.auth.views.logout %}"><small>(log out)</small></a>
      {% else %}
        <a href="{% url django.contrib.auth.views.login %}">Log in</a>
      {% endif %}
    </div>  
    <ul>
      {% block menu_back %}
        <li><a href="{% url todo.views.index %}">&larr; back to index</a></li>
      {% endblock %}
      {% block extra_menu_items %}{% endblock %}
      <li><a href="{% url todo.views.new %}">new</a></li>
      <li><a href="{% url todo.views.feed_builder %}">feed builder</a></li>
    </ul>
    <br/>
  </div>
  {% endblock %}
  {% block view %}{% endblock %}
</div>
{% endblock %}