{% extends "base.html" %}

{% block title_matter %}todo dashboard{% endblock %}
{% block head_matter %}
{% block feeds %}
  {% block extra_feeds %}{% endblock %}
  <link rel="alternate" type="application/atom+xml" title="Todo: all tasks" href="{% url django.contrib.syndication.views.feed 'tasks' %}" />
  <link rel="alternate" type="application/atom+xml" title="Todo: all next actions" href="{% url django.contrib.syndication.views.feed 'next' %}" />
  
  <link rel="alternate" type="application/atom+xml" title="Feed builder" href="{% url todo.views.feed_builder %}" />
{% endblock %}
<style>
  body {
     margin: 2em 7em 7em;
  }
  p, form {
    margin: 0;
    padding: 0;
  }
  small {
    font-size: 80%;
    color: #666;
  }
  #menu {
    margin: 0 0 6em;
    padding: 10px;
    font-size: small;
    font-style: italic;
    line-height: 1em;
    background-color: #eee;
  }
  #menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
  }
  #menu li {
    float: left;
    margin: 0 10px;
  }
  #menu br {
    clear: both;
  }
  
  h1, h2 {
    font-weight: normal;
    font-size: 2.5em;
    margin-top: 0;
  }
  h1 + h2 { 
    margin-top: -.5em; 
  }   
  
  .column {
    width: 45%;
    float: left;
    margin: 10px 0 7em;
    -moz-transition: width 1s ease-in-out;
  }
  .column.narrow {
    width: 30%;
  }
  .column.wide {
    width: 60%;
  }
  .column.left {
    float: left;
  }
  .column.right {
    float: right;
  }
  
  .index li a {
    text-decoration: none;
  }
  #by_project li a:hover {
    background-color: #ddd;
  }
  #by_project ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #by_project > ul > li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
  }
  #by_project li ul {
    margin: 10px 0 10px 20px;
  }
  
  #by_locale li {
    background-color: #ff9;
  }
  #by_locale a {
    color: #000;
  }
  .no_tasks, .no_tasks a {
    color: #aaa !important;
    background-color: transparent !important;
  }
  
  .bar {
    float: right;
    width: 175px;
    background-color: #ccc;
  }
  .bar .progress {
    width: 0;
    height: 10px;
    background-color: #38AB03;
  }
  .batch.bar {
    width: 100px;
  }
  
  .task {
    border: 1px solid #ccc;
    margin: 10px 0 2em;
    padding: 10px;
  }
  
  h3 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
  } 
  
  #activity h3 {
    margin-top: 10px;
  }
  .status {
    display: none;
    min-height: 2em;
    margin-left: -30px;
    padding-left: 30px;
    margin-top: -5px;
    padding-top: 5px;
    background-repeat: no-repeat;
    background-position: 0 13px;
  }
  #outofdate {
    background-image: url({% url static path="todo/warning.png" %});
  }
  #uptodate {
    background-image: url({% url static path="todo/okay.png" %});
  }
  #checking div {
    background: url({% url static path="loadingAnimation.gif" %}) no-repeat 0 13px;
    width: 208px;
    text-align: center;
    padding-top: 30px;
    font-size: small;
    font-style: italic;
  }
  
  #activity .comment {
    margin-top: 1em;
    border: 1px solid #ccc;
    opacity: 1;
    -moz-transition: opacity .5s ease-in-out;
  }
  #activity .comment.obsolete, #activity .comment.working {
    opacity: 0.5;
  }
  #activity .comment.error {
    padding: 10px;
    border: 2px solid orange;
    font-size: small;
    font-style: italic;
  }
  h4 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    background-color: #eee;
    font-style: italic;
  }
  input + h4 {
    padding-left: 3em;
  }
  #activity .comment .meta {
    float: left; 
    margin: .6em; 
  }
  .comment .meta img, .comment.working .meta input {
    display: none;
    width: 1em;
    height: 1em;
  }
  .comment.working .meta img {
    display: inline;
  }
  .comment.working .meta input {
    display: none;
  }
  
  #activity .comment div, #activity .comment dl {
    padding: 10px;
    font-family: monospace;
  }
  #activity .comment dl {
    margin: 0;
    padding: 0 10px 10px;
    border-top: 1px solid #eee;
    color: #999;
  }
  #activity .comment dt {
    margin-top: 10px;
  }
  #activity .comment dd {
    margin: 0;
    padding: 0 0 0 10px;
  }
  ins {
    text-decoration: none;
    background-color: #c1f6ac;
  }
  del {
    text-decoration: none;
    background-color: #ffcac1;
  }
  
  .edit {
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-small;
    padding: 2px 3px;
    position: relative;
    top: -1em;
    color: #666;
    text-decoration: none;
    opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
  h3:hover .edit {
    opacity: 1;
  }
  .edit:hover {
    background-color: #eee;
  }
  .dashboard.task.resolved {
    opacity: .5;
  }
  .task.resolved h3 {
    text-decoration: line-through;
  }
  .task.outofdate {
    border-right: 10px solid #E6A5A5;
  }
  .needs_update {
    float: right;
    display: none;
  }
  .task.outofdate .needs_update {
    display: block;
  }
  
  .tags {
    margin: .5em 0 1em;
  }
  .tag {
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-small;
    padding: 2px 3px;
    color: #666;
    text-decoration: none;
    text-shadow: #fff 1px 1px 0;
    background-color: #ddd;
    border: 1px outset #ccc;
  }
  .tag:hover {
    background-color: #eee;
  }
  
  .todo {
    margin: 10px 20px;
  }
  
  .todo input {
    float: left;
    margin-right: 10px;
    margin-left: 0;
  }
  .todo.new {
    color: #999;
  }
  .todo.next {
    background-color: #ff9;
  }
  .todo.resolved {
    color: #999;
    text-decoration: line-through;
  }
  
  .empty {
    margin: 10px 20px;
    padding: 10px;
  }
  .empty h2 {
    font-style: italic;
  }
  
  table td, p {
    padding: 10px;
  }
  
  .feed h2 {
    margin: 10px;
    font-size: 1.3em;
    font-style: italic;
  }
  .feed select {
    height: 10em;
  }
  
  #auth {
    float: right;
  }

</style>
{% block extra_head_matter %}{% endblock %}
{% endblock %}

{% block content %}
  {% block menu %}
  <div id="menu">
    <div id="auth">
      {% if user.is_authenticated %}
        Hi, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}. 
        <a href="{% url django.contrib.auth.views.logout %}"><small>(log out)</small></a>
      {% else %}
          <a href="{% url django.contrib.auth.views.login %}">Log in</a>
      {% endif %}
    </div>  
    <ul>
      {% block menu_back %}
        <li><a href="{% url todo.views.index %}">&larr; back to index</a></li>
      {% endblock %}
      <li><a href="{% url todo.views.new %}">new task</a></li>
      <li><a href="{% url todo.views.feed_builder %}">feed builder</a></li>
      {% block extra_menu_items %}{% endblock %}
    </ul>
    <br/>
  </div>
  {% endblock %}
  {% block view %}{% endblock %}
{% endblock %}