{% extends "todo/base.html" %}
{% load simile %}

{% block extra_feeds %}
  {% for feed_name, feed_url in feeds %}
    <link rel="alternate" type="application/atom+xml" title="{{feed_name}}" href="{{feed_url}}" />
  {% endfor %}
{% endblock %}

{% block extra_head_matter %}
  <link href="{% url todo.api.tasks %}?{{ args }}" type="application/json" rel="exhibit/data" />
  {% exhibit autoCreate=false %}
  <script type="text/javascript">
        SimileAjax.jQuery(document).ready(function() {
            var fDone = function() {
               var params = SimileAjax.parseURLParameters();
               var options = ["locale", "project", "batch", "owner", "bug", "snapshot"];
               {% block extra_query_options %}{% endblock %}
               for ( var i in options ) {
                  var option = options[i];
                  if (option in params) {
                    if (params[option]) {
                      var facet = document.getElementById(option);
                      facet.setAttribute("ex:selection", params[option]);
                      facet.setAttribute("defaultExpanded", "true");
                     }
                     else {
                      document.getElementById(option).setAttribute("ex:selectMissing", "true");
                     }
                  }
                }

                window.exhibit = Exhibit.create();
                window.exhibit.configureFromDOM();
                collapseFacets();
                {% if not snapshot %}
                BzAPI.checkSnapshots();
                {% endif %}
                
            };

            window.database = Exhibit.Database.create();
            window.database.loadDataLinks(fDone);
        });

        function collapseFacets() {
          $(".exhibit-facet-header").click(
            function() {
              $(this).parents('.exhibit-facet')
                       .toggleClass('collapsed')
            });
          $(".exhibit-facet[defaultExpanded!=true]").toggleClass('collapsed');
        }
        
        {% if not snapshot %}
        
        BzAPI = {
          
          apibase : 'https://api-dev.bugzilla.mozilla.org/stage/latest/',
          _bugs : {},
          
          markAsOutofdate : function markAsOutofdate(id) {
            window.exhibit.getDatabase().editItem(id, 'snapshot', 'outofdate');
          },
          
          markAsUptodate : function markAsOutofdate(id) {
            window.exhibit.getDatabase().editItem(id, 'snapshot', 'uptodate');
          },
          
          checkSnapshots : function checkSnapshots() {
            var items = window.exhibit.getUIContext().getCollection().getAllItems()
            var db = window.exhibit.getDatabase()
            items.visit(function(id){
              var item = db.getItem(id);
              if (!item.bug) return;
              if (BzAPI._bugs[item.bug] && item.snapshot_ts < BzAPI._bugs[item.bug])
                BzAPI.markAsOutofdate(id);
              else if (BzAPI._bugs[item.bug])
                BzAPI.markAsUptodate(id);
              else {
                $.getJSON(BzAPI.apibase+'bug/'+item.bug, function(data) {
                  BzAPI._bugs[item.bug] = data['last_change_time'];
                  if (item.snapshot_ts < data['last_change_time'])
                    BzAPI.markAsOutofdate(id);
                  else
                    BzAPI.markAsUptodate(id);
                })
              }
            })
          }
          
        }
        {% endif %}
        
  </script>

  <style>
    .exhibit-collectionView-header {
      opacity: 0.3;
    }
    span.exhibit-collectionSummaryWidget-count {
      font-size: 100%;
    }
    .exhibit-collectionView-header-sortControls {
      display: none !important;
    }
    ol.exhibit-tileView-body {
      list-style-type: none;
      padding: 0;
    }
    #exhibit-view h1, #exhibit-view h2, #exhibit-view h3 {
      font-size: 1.5em;
      font-weight: normal;
    }
    #exhibit-view h2, #exhibit-view h3 {
      font-size: 1.3em;
    }
    .exhibit-toolboxWidget-popup {
      top: 14em !important;
      right: auto !important;
      left: 5em;
    }
    
    .exhibit-facet {
      margin-bottom: 0;
    }
    .exhibit-facet.collapsed {
      margin-bottom: -1em;
    }
    .exhibit-facet-body-frame {
      visibility: visible;
      -moz-transition: visibility 0.5s ease-in-out;
    }
    .exhibit-facet.collapsed .exhibit-facet-body-frame {
      visibility: hidden;
    }
    .exhibit-facet-body {
      height: 10em;
      -moz-transition: height 0.5s ease-in-out;
    }
    .exhibit-facet.collapsed .exhibit-facet-body {
      height: 0 !important;
    }
    
  </style>
{% endblock %}

{% block extra_menu_items %}
  {% ifequal view 'locale' %}
    <li><a href="{% url todo_locale_dashboard_status requested_codes 'all' %}">show resolved</a></li>
  {% endifequal %}
  {% ifequal view 'project' %}
    {% for project in requested %}
      <li><a href="{% url todo_project_summary project.slug %}">{{project.name}} summary</a></li>
    {% endfor %}
    <li><a href="{% url todo_project_dashboard_status requested_codes 'all' %}">show resolved</a></li>
  {% endifequal %}
  {% ifequal view 'bug' %}
    <li><a href="{% url todo_bug_dashboard_status requested_codes 'all' %}">show resolved</a></li>
  {% endifequal %}
{% endblock %}

{% block view %}

  <h1>{{status|title}} tasks for {{requested|join:", "}}</h1>
  
  <div ex:role="collection" ex:itemTypes="Task"></div>
  <div id="exhibit-view" class="column wide left"
    ex:role="view"
    ex:possibleOrders=".project, .batch, .label"
    ex:orders="{{order}}"
    ex:grouped="true"
    ex:showDuplicates="false"
    ex:showSummary="true">
  
    <div ex:role="lens" ex:itemTypes="Task">
      <div 
        ex:class-content="concat('dashboard task ', .status, ' ', .snapshot, if(exists(.bug), ' has_bug', ' '))" >
        
        <div class="snapshot_status checking"><small>Checking bug...</small></div>
        <div class="snapshot_status outofdate"><small>New activity in the bug{% if perms.todo.change_todo %}; please review{% endif %}.</small></div>
        <div class="snapshot_status uptodate"><small>Up-to-date.</small></div>
        
        <h3><a ex:href-content="concat('{% url todo_task_exhibit %}', .pk)" ex:content=".label"></a></h3>
        <div class="tags">
          <a ex:href-content="concat('{% url todo_locale_dashboard_exhibit %}', .locale_code)" ex:content=".locale" class="tag"></a>
          <a ex:href-content="concat('{% url todo_project_dashboard_exhibit %}', .project_slug)" ex:content=".project" class="tag"></a>
          <a ex:if-exists=".batch" ex:href-content="concat('{% url todo_project_dashboard_exhibit %}', .project_slug, '?batch=', .batch)" ex:content=".batch" class="tag"></a>
          <a ex:if-exists=".bug" ex:href-content="concat('{% url todo_bug_dashboard_exhibit %}', .bug)" ex:content=".bug" class="tag"></a>
        </div>
        <div ex:content="!task">
          <div class="todo">
            <input type="checkbox" disabled="disabled"/>
            <span>
              <em ex:if-exists=".owner" ex:content="concat(.owner, ':')"></em>
              <span ex:content=".label"></span>
            </span>
          </div>
        </div>
        
      </div>
    </div>

  </div>
  <div class="column narrow right">
    <div ex:role="facet" ex:expression=".locale" ex:facetLabel="Locale" id="locale"></div>
    <div ex:role="facet" ex:expression=".project" ex:facetLabel="Project" id="project"></div>
    <div ex:role="facet" ex:expression=".batch" ex:facetLabel="Batch" id="batch"></div>
    <div ex:role="facet" ex:expression="!task.owner" ex:facetLabel="Next Action's Owner" ex:height="6em" defaultExpanded="true" id="owner"></div>
    <div ex:role="facet" ex:expression="!task" ex:facetLabel="Next Action" id="next_action"></div>
    <div ex:role="facet" ex:expression=".status" ex:facetLabel="Status" id="status"></div>
    <div ex:role="facet" ex:expression=".prototype" ex:facetLabel="Type" id="type"></div>
    <div ex:role="facet" ex:expression=".bug" ex:facetLabel="Bug" id="bug"></div>
    <div ex:role="facet" ex:expression=".snapshot" ex:facetLabel="Snapshot" ex:height="4em" id="snapshot"></div>
  </div>

{% endblock %}
