{% extends "todo/base.html" %}
{% load simile %}

{% block extra_head_matter %}
  <link href="{% url todo.views.tasks_json %}?{{ args }}" type="application/json" rel="exhibit/data" />
  {% exhibit autoCreate=false %}
  <script type="text/javascript">
        SimileAjax.jQuery(document).ready(function() {
            var fDone = function() {
               var params = SimileAjax.parseURLParameters();
               var options = ["locale", "project", "batch", "owner"];
               {% block extra_query_options %}{% endblock %}
                for ( var i in options ) {
                  var option = options[i];
                  if (option in params) {
                    if (params[option]) {
                      var facet = document.getElementById(option +"-facet");
                      facet.setAttribute("ex:selection", params[option]);
                      facet.setAttribute("defaultExpanded", "true");
                     }
                     else {
                      document.getElementById(option +
                        "-facet").setAttribute("ex:selectMissing", "true");
                     }
                  }
                }

                window.exhibit = Exhibit.create();
                window.exhibit.configureFromDOM();
                collapseFacets();
            };

            window.database = Exhibit.Database.create();
            window.database.loadDataLinks(fDone);
        });

        function collapseFacets() {
          $(".exhibit-facet-header").click(
            function() {
              $(this).toggleClass("collapsed").next().toggle("fast");
              return false;
            }).toggleClass("collapsed").next().hide();
          $(".exhibit-facet[defaultExpanded=true]").children()
            .removeClass("collapsed").next().show();
        }
        
  </script>

  <style>
    .exhibit-collectionView-header {
      opacity: 0.3;
    }
    span.exhibit-collectionSummaryWidget-count {
      font-size: 100%;
    }
    .exhibit-collectionView-header-sortControls {
      display: none !important;
    }
    ol.exhibit-tileView-body {
      list-style-type: none;
      padding: 0;
    }
  </style>
{% endblock %}

{% block extra_menu_items %}
  <li><a href="{{show_resolved_path}}">show resolved</a></li>
{% endblock %}

{% block view %}

  <h1>{{title}}</h1>
  
  <div ex:role="collection" ex:itemTypes="Task"></div>
  <div class="column wide left" 
    ex:role="view"
    ex:possibleOrders=".project, .batch, .label"
    ex:orders="{{order}}"
    ex:grouped="true"
    ex:showDuplicates="false"
    ex:showSummary="true">
  
    <div ex:role="lens" ex:itemTypes="Task">
      <div ex:class-content="concat('dashboard task ', .status)">
        <h3><a ex:href-content="concat('{% url todo_task_exhibit %}', .pk)" ex:content=".label"></a></h3>
        <a ex:href-content="concat('{% url todo_locale_dashboard_exhibit %}', .locale_code)" ex:content=".locale" class="tag"></a>
        <a ex:href-content="concat('{% url todo_project_dashboard_exhibit %}', .project_slug)" ex:content=".project" class="tag"></a>
        <a ex:if-exists=".batch" ex:href-content="concat('{% url todo_project_dashboard_exhibit %}', .project_slug, '?batch=', .batch)" ex:content=".batch" class="tag"></a>
        
        <div ex:content="!task">
          <div class="todo">
            <input type="checkbox" disabled="disabled"/>
            <span>
              <em ex:if-exists=".owner" ex:content="concat(.owner, ':')"></em>
              <span ex:content=".label"></span>
            </span>
          </div>
        </div>
        
      </div>
    </div>

  </div>
  <div class="column narrow right">
    <div ex:role="facet" ex:expression=".locale" ex:facetLabel="Locale" id="locale-facet"></div>
    <div ex:role="facet" ex:expression=".project" ex:facetLabel="Project" id="project-facet"></div>
    <div ex:role="facet" ex:expression=".batch" ex:facetLabel="Batch" id="batch-facet"></div>
    <div ex:role="facet" ex:expression="!task.owner" ex:facetLabel="Next Action's Owner" ex:height="6em" defaultExpanded="true" id="owner-facet"></div>
    <div ex:role="facet" ex:expression="!task" ex:facetLabel="Next Action"></div>
    <div ex:role="facet" ex:expression=".prototype" ex:facetLabel="Type"></div>
  </div>

{% endblock %}
