{% extends "todo/base.html" %}
{% load recurse %}

{% block content %}
  <div id="menu">
    <ul>
      <li><a href="{% url todo.views.index %}">&larr; back to index</a></li>
      <li><a href="{% url todo.views.dashboard %}?locale={{task.locale.code}}">&larr; all {{task.locale}}</a></li>
      <li><a href="{% url todo.views.dashboard %}?project={{task.project.slug}}">&larr; all {{task.project}}</a></li>
      <li><a href="{% url todo.views.new %}">new task</a></li>
    </ul>
    <br/>
  </div>

  <div class="task {{task.get_status_display}}">
    {% ifequal task.get_status_display "resolved" %}
    <input type="checkbox" checked="checked" disabled="disabled"/>
    {% endifequal %}
    <h3>{{task}}</h3>
    {% if task.locale %}<a href="{% url todo.views.dashboard %}?locale={{task.locale.code}}" class="tag">{{task.locale}}</a>{% endif %}
    {% if task.project %}<a href="{% url todo.views.dashboard %}?project={{task.project.slug}}" class="tag">{{task.project}}</a>{% endif %}
    {% with task.children.all as todos %}
    {% recurse_children %}
      {% for todo in todos %}
      
        {% ifequal todo.get_status_display "active" %}
          {% if not todo.children.active %}
            <div class="todo active next">
              <form action="{% url todo.views.resolve todo.id %}" method="post">
                <input type="hidden" name="task_id" value="{{task.id}}"/>
                {% if not todo.is_review %}
                  <input type="checkbox" onclick="this.form.submit()"/>
                {% else %}
                  <input type="checkbox" name="success" onclick="this.form.submit()"/>
                  <input type="checkbox" name="failure" onclick="this.form.submit()"/>
                {% endif %}
                <span>
                  {% if todo.owner %}<em>{{todo.owner}}:</em>{% endif %}
                  {{todo}}
                </span>
              </form>
              {% recurse todo.children.all as todos %}
            </div>
          {% else %}
            <div class="todo active">
              <input type="checkbox" disabled="disabled"/>
              <span>
                {% if todo.owner %}<em>{{todo.owner}}:</em>{% endif %}
                {{todo.summary}}
              </span>
              {% recurse todo.children.all as todos %}
            </div>
          {% endif %}
        {% else %}
          <div class="todo {{todo.get_status_display}}">
            {% ifequal todo.get_status_display "resolved" %}<input type="checkbox" disabled="disabled" checked="checked"/>{% endifequal %}
            {% ifequal todo.get_status_display "new" %}<input type="checkbox" disabled="disabled"/>{% endifequal %}
            <span>
              {% if todo.owner %}<em>{{todo.owner}}:</em>{% endif %}
              {{todo.summary}} {% ifequal todo.resolution 2 %}<strong>(failed)</strong>{% endifequal %}
            </span>
            {% recurse todo.children.all as todos %}
          </div>
        {% endifequal %}  

      {% endfor %}
    {% endrecurse %}
    {% endwith %}
  </div>

{% endblock %}
