{% extends "base.html" %}
{% load recurse %}

{% block title_matter %}todo dashboard{% endblock %}
{% block head_matter %}
<style>
  body {
     margin: 2em 6em 6em;
  }
  p, form {
    margin: 0;
    padding: 0;
  }
  small {
    font-size: 80%;
    color: #666;
  }
  strong {
    font-weight: normal;
  }
  #menu {
    margin: 0 20px 6em;
    padding: 10px;
    font-size: small;
    font-style: italic;
    background-color: #eee;
  }
  .task, .todo {
    margin: 10px 20px;
  }
  
  .task {
    border: 1px solid #ccc;
    margin-bottom: 2em;
    padding: 10px;
  }
  .task.resolved > strong {
    text-decoration: line-through;
  }
  .task > strong {
    font-size: 1.3em;
  }
  
  .details-link {
    font-size: .8em;
    margin-left: 25px;
  }
  
  .todo input {
    float: left;
  }
  .todo span {
    display: block;
    padding-left: 25px;
  }
  .todo.new {
    color: #999;
  }
  .todo.next {
    background-color: #ff9;
  }
  .todo.resolved {
    color: #999;
    text-decoration: line-through;
  }

</style>
{% endblock %}



{% block content %}
  <div id="menu">
    <a href="{% url todo.views.index %}">&larr; back</a>
  </div>

  <div class="task {{task.get_status_display}}">
    {% ifequal task.get_status_display "resolved" %}
    <input type="checkbox" checked="checked" disabled="disabled"/>
    {% endifequal %}
    <strong>{{task.summary}}</strong>
    {% with task.children.all as todos %}
    {% recurse_children %}
      {% for todo in todos %}
      
        {% ifequal todo.get_status_display "active" %}
          {% if not todo.children.get_active %}
            <div class="todo active next">
              <form action="{% url todo.views.change todo.id %}" method="post">
                <input type="hidden" name="task_id" value="{{task.id}}"/>
                <input type="checkbox" name="resolved" onclick="this.form.submit()"/>
                <span>
                  {% if todo.owner %}<em>{{todo.owner}}:</em>{% endif %}
                  {{todo.summary}}
                </span>
              </form>
              {% recurse todo.children.all as todos %}
            </div>
          {% else %}
            <div class="todo active">
              <input type="checkbox" disabled="disabled"/>
              <span>
                {% if todo.owner %}<em>{{todo.owner}}:</em>{% endif %}
                {{todo.summary}}
              </span>
              {% recurse todo.children.all as todos %}
            </div>
          {% endif %}
        {% else %}
          <div class="todo {{todo.get_status_display}}">
            {% ifequal todo.get_status_display "resolved" %}<input type="checkbox" disabled="disabled" checked="checked"/>{% endifequal %}
            {% ifequal todo.get_status_display "new" %}<input type="checkbox" disabled="disabled"/>{% endifequal %}
            <span>
              {% if todo.owner %}<em>{{todo.owner}}:</em>{% endif %}
              {{todo.summary}}
            </span>
            {% recurse todo.children.all as todos %}
          </div>
        {% endifequal %}  

      {% endfor %}
    {% endrecurse %}
    {% endwith %}
  </div>

{% endblock %}
