{% extends "todo/base.html" %}
{% load recurse %}

{% block extra_feeds %}
  <link rel="alternate" type="application/atom+xml" title="Todo: next actions for {{task}}" href="{% url django.contrib.syndication.views.feed 'next' %}task:{{task.code}}" />
{% endblock %}

{% block extra_head_matter %}
  <script type="text/javascript" src="{% url static path='jquery.js' %}"></script>
  <script type="text/javascript">
      {% if task.bug %}
        $(document).ready(function() {
          Task.initResolvedStepsToggling();
          $('.show_all').hide().toggle(BzAPI.showAllActivity, BzAPI.hideObsolete)
          BzAPI.getCommentsAndHistory();
        });
        
        Task = {
          
          _resolved_steps : null,
          _task : null,
          _link : null,
          
          initResolvedStepsToggling : function initResolvedStepsToggling() {
            Task._task = $('#task');
            Task._link = $('#show_resolved');
            if ( Task._task.hasClass('resolved')) {
              Task.show_resolved_steps()
              Task._link.toggle(Task.hide_resolved_steps, Task.show_resolved_steps)
            } else {
              if ( ! Task.resolved_steps().length)
                Task._link.hide();
              Task._link.toggle(Task.show_resolved_steps, Task.hide_resolved_steps)
            }
          },
          
          show_resolved_steps : function show_resolved_steps() {
            Task.resolved_steps().slideDown();
            Task._link.text('hide resolved steps');
          },
          
          hide_resolved_steps : function hide_resolved_steps() {
            Task.resolved_steps().slideUp();
            Task._link.text('show resolved steps');
          },
          
          resolved_steps : function resolved_steps(force) {
            if ( force || ! Task._resolved_steps)
              Task._resolved_steps =  $('.todo.resolved.has_children').add('#task > .todo.resolved');
            return Task._resolved_steps;
          },
          
        }
        
        BzAPI = {
          
          apibase : 'https://api-dev.bugzilla.mozilla.org/stage/latest/',
          bugid : '{{ task.bug }}',
          snapshot_ts : '{{ task.snapshot_ts_iso }}',
          last_i : 0,
          showing_all : false,
          
          getCommentsAndHistory : function getCommentsAndHistory() {
            $('#checking').fadeIn('slow');
            var url = BzAPI.apibase + 'bug/' + BzAPI.bugid + '?comments=1&history=1';
            $.getJSON(url, function(data) {
                //BzAPI.attachments = data['attachments'];
                BzAPI.activity = data['comments'].concat(data['history']);
                BzAPI.activity.sort(BzAPI.sortTimestampStrings);
                BzAPI.showActivity();
            })
          },
          
          sortTimestampStrings : function sortTimestampStrings(a, b) {
            var a_ts = a.change_time || a.creation_time;
            var b_ts = b.change_time || b.creation_time;
            if (a_ts > b_ts) return 1;
            if (a_ts == b_ts) return 0;
            if (a_ts < b_ts) return -1;
          },
          
          showActivity : function showActivity() {
            var column = $('#activity');
            var prev = '';
            BzAPI.activity.forEach(function(a, i, arr) {
              
              var status = 'new', checked_disabled = '';
              var time = a.change_time || a.creation_time;
              if (time == prev) {
                $('#comment-'+ --i +'').append($(BzAPI.getChangesText(a.changes)));
                return;
              }
              
              BzAPI.last_i = i;
              prev = time;
              if (time <= BzAPI.snapshot_ts) {
                status = 'obsolete';
                checked_disabled = 'checked="checked" disabled="disabled"';
              }
              var commenter = (a.changer) ? a.changer.name : a.author.real_name;
              var when = time.split('T').join(' ').replace(/Z$/g, " UTC");
              if (a.text) {
                // it's a comment
                var text = a.text.replace(/&/g, "&amp;")
                                 .replace(/</g, "&lt;")
                                 .replace(/>/g, "&gt;")
                                 .replace(/\n/g, "<br/>");
                text = '<div>' + text + '</div>';
              } else {
                // it's a history change
                var text = BzAPI.getChangesText(a.changes);
              }
              var comment = $('<div id="comment-'+i+'" class="comment '+status+'"></div>');
              comment.html('<h4>' + commenter + ' on ' + when + '</h4>' + text)
                     .hide()
                     .appendTo(column);
            {% if perms.todo.change_todo %}
              $('<span class="meta"></span>').html('<input type="checkbox" '+checked_disabled+'/><img src="{% url static path="todo/throbber.gif" %}"/>')
                                             .prependTo(comment)
                                             .click(function(){
                                               BzAPI.updateSnapshot(time, i);
                                             });
            {% endif %}
              
            });
            var new_activity = BzAPI.new_activity();
            var obsolete_activity = BzAPI.obsolete_activity();
            if (obsolete_activity.length)
              $('.show_all').show();
            if (new_activity.length) {
              BzAPI.widenActivityColumn();
              BzAPI.changeStatusToOutofdate();
              new_activity.fadeIn('slow');
            } else
              BzAPI.changeStatusToUptodate();
          },
          
          new_activity : function new_activity() {
            return $('.comment.new');
          },
          
          obsolete_activity : function obsolete_activity() {
            return $('.comment.obsolete');
          },
          
          getChangesText : function getChangesText(changes) {
            var text = '<dl>';
            var prev = '';
            for (var j=0, change; change = changes[j]; j++) {
              if (change.attachment_id) {
                if (change.attachment_id == prev)
                  text += '<dd><em>'+change.field_name+'</em>: ';
                else
                  text += '<dt>attachment '+change.attachment_id+'</dt><dd><em>'+change.field_name+'</em>: ';
                prev = change.attachment_id;
                if (change.removed && change.added)
                  text += ' changed from <del>'+change.removed+'</del> to <ins>'+change.added+'</ins></dd>';
                else {
                  if (change.removed) text += 'removed <del>'+change.removed+'</del>';
                  if (change.added) text += ' added <ins>'+change.added+'</ins>';
                }
                text += '</dd>';
              }
              else {
                text += '<dt>'+change.field_name+'</dt>'; 
                var field_is_list = change.field_name == 'cc' || 
                                    change.field_name == 'keywords' ||
                                    change.field_name == 'blocks' ||
                                    change.field_name == 'depends_on';
                if (!field_is_list && change.removed && change.added)
                  text += '<dd>changed from <del>'+change.removed+'</del> to <ins>'+change.added+'</ins></dd>';
                else {
                  if (change.removed) text += '<dd>removed <del>'+change.removed+'</del></dd>';
                  if (change.added) text += ' <dd>added <ins>'+change.added+'</ins></dd>';
                }
              }
            }
            text += '</dl>';
            return text;
          },
          
          updateSnapshot : function updateSnapshot(time, i) {
            var prev_and_self = BzAPI.markAsWorkingUpTo(i);
            $.post("{% url todo.api.update_snapshot task.id %}",
                   { snapshot_ts: time },
                   function(data){
                     if (data.status == 'ok') {
                       BzAPI.markAsObsoleteUpTo(i, prev_and_self);
                       if ( ! BzAPI.showing_all)
                        BzAPI.hideObsolete();
                     } else {
                       BzAPI.markWorkingAsNew();
                       BzAPI.showErrorMessage(data.message, i);
                     }
                   }, 'json');
          },
          
          markAsWorkingUpTo : function markAsWorkingUpTo(i, prev_and_self) {
            var prev_and_self = prev_and_self || $('#comment-'+i).prevAll('div.new:visible').andSelf();
            prev_and_self.addClass('working')
                         .find('input').attr('disabled', 'disabled')
                                       .attr('checked', 'checked');
            return prev_and_self;
          },
          
          markAsObsoleteUpTo : function markAsObsoleteUpTo(i, prev_and_self) {
            var prev_and_self = prev_and_self || $('#comment-'+i).prevAll('div.new:visible').andSelf();
            prev_and_self.removeClass('new working')
                         .addClass('obsolete');
            
            $('.show_all').show();
            if (i == BzAPI.last_i)
              BzAPI.changeStatusToUptodate();
             
            return prev_and_self;
          },
          
          markWorkingAsNew : function markWorkingAsNew() {
            $('.working').removeClass('working')
                         .addClass('new')
                         .find('input').removeAttr('disabled')
                                       .removeAttr('checked');
          },
          
          showErrorMessage : function showErrorMessage(message, i) {
            $('.comment.error').remove();
            var error = $('<div class="comment error">Error: '+message+'</div>').hide();
            error.insertBefore($('#comment-'+i))
                 .slideDown('slow');
          },
          
          showAllActivity : function showAllActivity() {
            BzAPI.showing_all = true;
            BzAPI.widenActivityColumn();
            $('.comment.obsolete').slideDown('slow');
            $('.show_all').text('hide obsolete');
          },
          
          hideObsolete : function hideObsolete() {
            BzAPI.showing_all = false;
            if ( ! BzAPI.new_activity().length) 
              BzAPI.narrowActivityColumn();
            $('.comment.obsolete').slideUp('slow');
            $('.show_all').text('show obsolete');
          },
          
          changeStatusToOutofdate : function changeStatusToOutofdate() {
            $('.status:visible').fadeOut('slow', function() {
              $('.status#outofdate').fadeIn('slow');
            });
          },
          
          changeStatusToUptodate : function changeStatusToUptodate() {
            $('.status:visible').fadeOut('slow', function() {
              $('.status#uptodate').fadeIn('slow');
            });
          },
          
          widenActivityColumn : function widenActivityColumn() {
            $('#task').removeClass('wide');
            $('#activity').removeClass('narrow');
          },
          
          narrowActivityColumn : function narrowActivityColumn() {
            $('#task').addClass('wide');
            $('#activity').addClass('narrow');
          },
          
        }
      {% endif %}
        
  </script>

  <style>

  </style>
{% endblock %}

{% block extra_menu_items %}
  {% if task.project %}
    <li><a href="{% url todo_project_summary task.project.slug %}">{{task.project.name}} summary</a></li>
  {% endif %}
{% endblock %}

{% block view %}

  <div id="task" class="task {{task.get_status_display}} {% if task.bug %}column left wide{% endif %}">
    <h3>
      {% ifequal task.get_status_display "resolved" %}
        <input type="checkbox" checked="checked" disabled="disabled"/>
      {% else %}
        {% if perms.todo.change_todo %}
          <form action="{% url todo.views.resolve task.id %}" method="post">
            <input type="hidden" name="task_id" value="{{task.id}}"/>
            <input type="checkbox" onclick="this.form.submit()"/>
          </form>
        {% else %}
          <input type="checkbox" disabled="disabled"/>
        {% endif %}
      {% endifequal %}
      <span>{{task}}</span>
      <a href="#" id="show_resolved" class="edit">show resolved steps</a>
      {% if user.is_staff and perms.todo.change_todo %}
        <a href="{{ task.get_admin_url }}" class="edit">edit task</a>
      {% endif %}
    </h3>
    
    <div class="tags">
      {% if task.locale %}<a href="{% url todo_locale_dashboard task.locale.code %}" class="tag">{{task.locale}}</a>{% endif %}
      {% if task.project %}<a href="{% url todo_project_dashboard task.project.slug %}" class="tag">{{task.project}}</a>{% endif %}
      {% if task.batch %}<a href="{% url todo_project_dashboard task.project.slug %}?batch={{task.batch}}" class="tag">{{task.batch}}</a>{% endif %}
      {% if task.bug %}<a href="{% url todo_bug_dashboard task.bug %}" class="tag">{{task.bug}}</a>{% endif %}
      
    </div>
    
    {% with task.children.all as todos %}
    {% recurse_children %}
      {% for todo in todos %}
      
        <div class="todo {{todo.get_status_display}} {% if todo.has_children %}has_children{% endif %}">
          {% if task.is_open and todo.is_next and perms.todo.change_todo %}
            <form action="{% url todo.views.resolve todo.id %}" method="post">
              <input type="hidden" name="task_id" value="{{task.id}}"/>
              {% if not todo.is_review %}
                <input type="checkbox" onclick="this.form.submit()"/>
              {% else %}
                <input type="checkbox" name="success" onclick="this.form.submit()"/>
                <input type="checkbox" name="failure" onclick="this.form.submit()"/>
              {% endif %}
              <span>
                {% if todo.owner %}<em>{{todo.owner}}:</em>{% endif %}
                {{todo}}
              </span>
            </form>
          {% else %}
            {% ifequal todo.get_status_display "resolved" %}
              <input type="checkbox" disabled="disabled" checked="checked"/>
            {% else %}
              <input type="checkbox" disabled="disabled"/>
            {% endifequal %}
            <span>
              {% if todo.owner %}<em>{{todo.owner}}:</em>{% endif %}
              {{todo.summary}} {% ifequal todo.resolution 2 %}<strong>(failed)</strong>{% endifequal %}
            </span>
          {% endif %}
          {% recurse todo.children.all as todos %}
        </div>

      {% endfor %}
    {% endrecurse %}
    {% endwith %}
  </div>
  
  {% if task.bug %}
    <div id="activity" class="column right narrow">
      <div class="status" id="checking">
        <div>(checking status)</div>
      </div>
      <div class="status" id="uptodate">
        <h3>Status of this task is up-to-date.</h3>
        <h3>
          No new activity in <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ task.bug }}">bug {{ task.bug }}</a>.
          <a href="#" class="show_all edit">show obsolete</a>
        </h3>
      </div>
      <div class="status" id="outofdate">
        <h3>Status of this task is <em>out of date</em>.</h3>
        <h3>
          {% if perms.todo.change_todo %}
            Review the activity in <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ task.bug }}">bug {{ task.bug }}</a>:
          {% else %}
            New activity in <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ task.bug }}">bug {{ task.bug }}</a>:
          {% endif %}
          <a href="#" class="show_all edit">show obsolete</a>
        </h3>
      </div>
    </div>
  {% endif %}

{% endblock %}
