{% extends "todo/base.html" %}

{% block title_matter %}Feed builder{% endblock %}

{% block view %}
  <h1>Build your custom feed</h1>

  <div class="task feed">
    <form action="{% url todo.views.redirect_to_feed %}" method="post">
      <h2>New tasks</h2>
      <input type="hidden" name="items" value="tasks"/>
      <p><small>For each box, selecting nothing is equal to selecting everything.</small></p>
      <table>  
        <tr>
          {% for field in task_form %}
            <td>
              <h3>{{ field.label_tag }}</h3>
              {{ field }}
            </td>
          {% endfor %}
          <td><input type="submit" value="Show" /></td>
        </tr>
      </table>
    </form>
  </div>
  <div class="task feed">
    <form action="{% url todo.views.redirect_to_feed %}" method="post">
      <h2>New next actions</h2>
      <input type="hidden" name="items" value="next"/>
      <p><small>For each box, selecting nothing is equal to selecting everything.</small></p>
      <table>  
        <tr>
          {% for field in next_form %}
            <td>
              <h3>{{ field.label_tag }}</h3>
              {{ field }}
            </td>
          {% endfor %}
          <td><input type="submit" value="Show" /></td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}
