{% extends "todo/base.html" %}

{% block menu_back %}{% endblock %}
{% block extra_menu_items %}
  <li><a href="{% url todo_dashboard %}">all tasks</a></li>
{% endblock %}

{% block view %}
  
  <div id="by_locale" class="index column narrow left">
    <h2>Locales</h2>
    <ul>
    {% for locale, open in locales %}
      <li {% if not open %}class="no_tasks"{% endif %}>
        <a href="{% url todo_locale_dashboard locale.code %}" 
           title="{{open|length}} open tasks">
          {{locale.code}}: {{locale.name}} ({{open|length}})
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  
  <div id="by_project" class="index column wide right groups">
    <h2>Projects</h2>
    {% for type, projects in projects_by_type %}
      <h3>{{type}}</h3>
      <ul>
        {% for project in projects %}
          <li>
            {% if project.has_tasks %}
              <div class="bar" title="{{project.percent}}% complete ({{project.resolved|length}} resolved, {{project.open|length}} open)">
                <div class="progress" style="width: {{project.percent}}%;"></div>
              </div>
              <a href="{% url todo_project_summary project.project.slug %}" title="{{project.percent}}% complete ({{project.resolved|length}} resolved, {{project.open|length}} open)">{{project.name}}: {{project.percent}}%</a>
            {% else %}
              <a href="{% url todo_project_summary project.project.slug %}" class="no_tasks" title="No tasks yet.">{{project.name}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  
{% endblock %}
