{% extends "todo/base.html" %}

{% block content %}
  <div id="menu">
    <ul>
      <li><a href="{% url todo.views.dashboard %}">all tasks</a></li>
      <li><a href="{% url todo.views.new %}">new task</a></li>
    </ul>
    <br/>
  </div>
  
  <div id="by_locale" class="column">
    <h2>Locales</h2>
    <ul>
    {% for locale, open in tasks_by_locale.items %}
      <li><a href="{% url todo.views.dashboard %}?locale={{locale.code}}"title="{{open}} open tasks">{{locale}} ({{open}})</a></li>
    {% empty %}
      <li>There are no open tasks for any of the locales.</li>
    {% endfor %}
    </ul>
  </div>
  
  <div id="by_project" class="column">
    <h2>Projects</h2>
    <ul>
    {% for project, len in tasks_by_project.items %}
      <li>
        <div class="bar"><div class="progress" style="width: {{len.percent}}%;"></div></div>
        <a href="{% url todo.views.dashboard %}?project={{project.slug}}" title="{{len.open}} open tasks out of {{len.all}} total.">{{project}} ({{len.percent}}%)</a>
      </li>
    {% empty %}
      <li>There are no active projects.</li>
    {% endfor %}
    </ul>
  </div>
  
{% endblock %}
