{% extends "todo/base.html" %}

{% block content %}
  <div id="menu">
    <ul>
      <li><a href="{% url todo.views.dashboard %}">all tasks</a></li>
      <li><a href="{% url todo.views.new %}">new task</a></li>
    </ul>
    <br/>
  </div>
  
  <div id="by_locale" class="index column narrow left">
    <h2>Locales</h2>
    <ul>
    {% for locale, open in tasks_by_locale %}
      <li><a href="{% url todo.views.dashboard %}?locale={{locale.code}}"title="{{open}} open tasks">{{locale.code}}: {{locale.name}} ({{open}})</a></li>
    {% empty %}
      <li>There are no open tasks for any of the locales.</li>
    {% endfor %}
    </ul>
  </div>
  
  <div id="by_project" class="index column wide right">
    <h2>Projects</h2>
    {% for type, projects in projects_by_type %}
      <h3>{{type}}</h3>
      <ul>
        {% for project, info in projects %}
          <li>
            {% if info.has_tasks %}
              <div class="bar" title="{{info.percent}}% ({{info.open}} open tasks out of {{info.all}} total)">
                <div class="progress" style="width: {{info.percent}}%;"></div>
              </div>
              <a href="{% url todo.views.dashboard %}?project={{project.slug}}">{{project}}: {{info.percent}}%</a>
            {% else %}
              <span class="no_tasks" title="No tasks yet.">{{project}}</span>
            {% endif %}
          {% if info.batches %}
            <ul>
            {% for batch, info in info.batches %}
              <li>
                {% if info.has_tasks %}
                  <div class="batch bar" title="{{info.percent}}% ({{info.open}} open tasks out of {{info.all}} total)">
                    <div class="progress" style="width: {{info.percent}}%;"></div>
                  </div>
                  <a href="{% url todo.views.dashboard %}?project={{project.slug}}&amp;batch={{batch.slug}}">{{batch}}: {{info.percent}}%</a>
                {% else %}
                  <span class="no_tasks" title="No tasks yet.">{{batch}}</span>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  
{% endblock %}
