{% extends "todo/base.html" %}
{% load simile %}

{% block bodyclass %}new{% endblock %}

{% block extra_head_matter %}
  {% exhibit autoCreate=false %}
  <script type="text/javascript" src="{% url static path='jquery.js' %}"></script>
  <script type="text/javascript">
  
        $(document).ready(function(){
          var params = SimileAjax.parseURLParameters();
          window.database = Exhibit.Database.create();
          
          $('#query-header').click(function() {
            if ($('#query').is(':hidden')) {
              $('#query').slideDown(); 
              $('#results').slideUp(); 
              $('#review').slideUp();
            } else 
              $('#query').slideUp();
          });
          $('#results-header').click(function() {
            if ($('#results').is(':hidden')) {
              $('#results').slideDown(); 
              $('#query').slideUp(); 
              $('#review').slideUp();
            } else 
              $('#results').slideUp();
          });
          $('#review-header').click(function() {
            if ($('#review').is(':hidden')) {
              continueWithSelected(); 
            } else 
              $('#review').slideUp();
          });
          
          $('.select-all').click(function(){
            $('.check input').attr('checked', 'checked').change();
          });
          $('.select-none').click(function(){
            $('.check input').removeAttr('checked').change();
          });
          $('#continue input').click(function(){
            continueWithSelected();
          });
          $('.batch.name').slugify('.batch.slug');
          
          if (params.qs) {
            bugzillaQuickSearch(params.qs);
          } else {
            $("#results").toggle();
            $("#query").toggle();
          }
        });
        
        $.fn.slugify = function(obj) {
            jQuery(this).data('obj', jQuery(obj));
            jQuery(this).keyup(function() {
                var obj = jQuery(this).data('obj');
                var slug = jQuery(this).val().replace(/\-+/g,'-')
                                             .replace(/\s+/g,'-')
                                             .replace(/[^a-zA-Z0-9\-]/g,'')
                                             .toLowerCase();
                obj.val(slug);
            });
        }
        
        locales = {
          {% for locale in locales %}
          "{{locale.pk}}" : "{{locale.code}}",
          {% endfor %}
          "--" : "--"
        }
        
        function is_supported(locale) {
          for (var id in locales) {
            if (locales[id] == locale)
              return true;
          }
          return false;
        }
        
        function createLocaleSelect(current_locales, multiple, name) {
          var name = name || '';
          var multiple = multiple ? 'multiple="multiple"' : '';
          var select = $('<select '+multiple+' name="'+name+'"></select>');
          for (var id in locales) {
            var locale = locales[id];
            var option = $('<option></option>');
            option.text(locale).val(id);
            if (current_locales.indexOf(locale) != -1)
              option.attr('selected', 'selected');
            option.appendTo(select);
          }
          return select;
        }
        
        function insertLocaleSelect(div) {
          var div = $(div);
          var current_locale = div.attr('data-locale');
          var select = createLocaleSelect([current_locale]);
          select.change(updateLocale);
          div.after(select).remove();
        }
        
        function insertLocaleMultipleSelect(span, current_locales, name) {
          var span = $(span);
          var select = createLocaleSelect(current_locales, true, name);
          span.parent().empty().append(select);
        }
        
        function updateLocale() {
          var select = $(this);
          var id = select.parents('tr').attr('ex:itemid');
          window.exhibit.getDatabase().editItem(id, 'locale', locales[select.val()]);
        }
        
        function updateSelection(checkbox) {
          var checkbox = $(checkbox);
          var is_checked = checkbox.is(':checked');
          var selected = (is_checked) ? 'yes' : 'no';
          var id = checkbox.parents('tr').attr('ex:itemid');
          window.exhibit.getDatabase().editItem(id, 'selected', selected);
        }

        // this comes from using ctype=js
        var columns = ["priority","changeddate","keywords","bug_severity","opendate",
                       "resolution","classification","alias","reporter",
                       "short_short_desc","status_whiteboard","bug_status","version",
                       "component","reporter_realname","product","target_milestone",
                       "exists"];

        /**
         * Split a string, returning only non-empty values.
         *
         * Examples using /[[\]]+/:
         * "" => []
         * "[foo][bar]" => ["foo", "bar"]
         * "[foo bar]" => ["foo bar"]
         */
        function splitIgnoreEmpty(bstr, pat) {
          if (!bstr)
            return [];

          var bits = bstr.toLowerCase().split(pat);
          var result = [];
          // filter out empty entries
          for (var i = 0; i < bits.length; i++) {
            var trimmed = $.trim(bits[i]);
            if (trimmed)
              result.push(trimmed);
          }
          return result;
        }
        
        function guessLocale(summary) {
          var brackets = /\[([a-zA-Z\-]+)\]/.exec(summary)
          if (brackets) {
            var locale = brackets[1];
            if (is_supported(locale))
              return locale;
          }
          return "--";
        }
        
        function extractSummary(label) {
          var pattern = /(?:\[[a-zA-Z\-]+\])+ ?(.+)/.exec(label)
          if (pattern)
            return pattern[1];
          else
            return label;
        }

        function bugzillaConverter() {
          var data = {items: [],
                      types: {
                        Bug: {
                          pluralLabel: "Bugs"
                        }
                      },
                      properties: {
                        num: {valueType: "number"},
                        patchCount: {valueType: "number"},
                        votes: {valueType: "number"},
                        opendate: {valueType: "date"},
                        changeddate: {valueType: "date"}
                        }
                      };
          var items = data.items;
          var rawBug, goodBug, iCol;

          for (var key in bugs) {
            if (parseInt(key) == NaN)
              continue;
            rawBug = bugs[key];
            goodBug = {id: key, bugid: key, type: "Bug"};
            items.push(goodBug);

            for (iCol = 0; iCol < rawBug.length; iCol++) {
              goodBug[columns[iCol]] = rawBug[iCol];
            }

            goodBug.label = goodBug.short_short_desc;
            goodBug.locale = guessLocale(goodBug.short_short_desc);
            goodBug.exists = goodBug.exists || 'no';
            goodBug.selected = 'no';
            goodBug.whiteboard_bits = splitIgnoreEmpty(goodBug.status_whiteboard, /[[\],]+/);
            goodBug.keyword_bits = splitIgnoreEmpty(goodBug.keywords, /[, ]+/);
            goodBug.resolution = goodBug.resolution || "--";
            goodBug.reporter = goodBug.reporter_realname || goodBug.reporter;
            
          }
          return data;
        }

        var buglistCallbackToCall = null;
        function buglistCallback() {
          var bugids = []
          for (bugid in bugs) {
            bugids.push(bugid)
          }
          var url = '{% url todo.api.existing_bugs %}?bug=' + bugids.join('&bug=');
          $.getJSON(url, function(data){
            for (var i=0, bug; bug = data[i]; i++) {
              bugs[bug].push('yes');
            }
            buglistCallbackToCall();
          })
        }

        function setSearchTitle(aTitle) {
          document.title = aTitle;
          SimileAjax.History._plainDocumentTitle = aTitle;
        }

        function bugzillaQuickSearch(aQueryString) {
          var url = "https://bugzilla.mozilla.org/buglist.cgi?quicksearch=";
          url += aQueryString;
          url += "&ctype=js&columnlist="+columns.join(',');

          setSearchTitle("Search for bugs: " + aQueryString);
          
          url = "/todo/api/offline";

          Exhibit.JSONPImporter.load(url, window.database, setupExhibit,
                                     bugzillaConverter, "buglistCallbackToCall");
        }

        function setupExhibit() {
          window.exhibit = Exhibit.create();
          window.exhibit.configureFromDOM();
          collapseFacets();
        }
        
        function collapseFacets() {
          $(".stripe .exhibit-facet-header").click(
            function() {
              $(this).parents('.stripe')
                       .toggleClass('collapsed')
            });
          $('.stripe').toggleClass('collapsed');
        }
        
        function existsStyler(itemid, db, tr) {
          var item = window.exhibit.getDatabase().getItem(itemid);
          if (item.exists == 'yes') {
            $(tr).addClass('exists');
          }
        }
        
        function continueWithSelected() {
          var db = window.exhibit.getDatabase();
          var selected = []
          var items = db.getAllItems();
          items.visit(function(id){
            if (db.getObject(id, 'selected') == 'yes') {
              var item = {
                'bugid' : id,
                'locale' : db.getObject(id, 'locale'),
                'summary' : extractSummary(db.getObject(id, 'label'))
              }
              selected.push(item);
            }
          });
          var review = buildReview(selected);
          var number_of_bugs = selected.length;
          $("#number_of_bugs").val(number_of_bugs);
          if (number_of_bugs > 0)
            $('#create-tasks').removeAttr('disabled');
          $("#selected-bugs tbody").remove();
          $("#selected-bugs").append(review); 
          $('#query').slideUp();
          $('#review').slideDown();
          $('#results').slideUp();
        }
        
        function escapeDoubleQuotes(str) {
          return str.replace(/"/g, '&quot;');
        }
        
        function buildReview(selected) {
          var review = $("<tbody></tbody>");
          for (var i in selected) {
            var item = selected[i];
            var localeCell = $('<td class="locale"><small class="click" onclick="insertLocaleMultipleSelect(this, [\''+item.locale+'\'], \'bug-'+i+'-locales\');">more</small></td>').prepend(createLocaleSelect([item.locale], false, 'bug-'+i+'-locales'))
            var row = $("<tr></tr>")
            row.append('<td class="summary"><input name="bug-'+i+'-summary" type="text" value="'+escapeDoubleQuotes(item.summary)+'"/></td>')
               .append(localeCell)
               .append('<td class="bugid"><input name="bug-'+i+'-bugid" type="text" value="'+escapeDoubleQuotes(item.bugid)+'"/></td>')
            row.appendTo(review);
          }
          return review;
        }
        
        function showBatchChooser() {
          $('#choose-batch-suggestion').slideUp();
          $('#choose-batch').slideDown();
        }
        
        function hideBatchChooser() {
          $('#choose-batch-suggestion').slideDown();
          $('#choose-batch').slideUp();
          $('#id_batch').add('input.batch').val("")
        }
        
  </script>

  <style>
    #review {
      display: none;
    }
    table, tr {
      border: none !important;
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #ccc !important;
    }
    #exhibit-view > div > span {
      padding: 10px;
      display: block;
    }
    span.exhibit-collectionSummaryWidget-count {
      font-size: 100%;
    }
    .exhibit-collectionView-header-sortControls {
      display: none !important;
    }
    #exhibit-view h1, #exhibit-view h2, #exhibit-view h3 {
      font-size: 1.5em;
      font-weight: normal;
    }
    #exhibit-view h2, #exhibit-view h3 {
      font-size: 1.3em;
    }
    .exhibit-toolboxWidget-popup {
      top: 14em !important;
      right: auto !important;
      left: 5em;
    }
    #facets span.exhibit-facet-header-title {
      font-weight: normal;
    }
    
    #facets {
      background-color: #ffc;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 1.5em;
    }
    #facets br {
      clear: both;
    }
    #facets .collapsed {
      color: #666;
    }
    .stripe {
      clear: both;
    }
    .stripe > div {
      width: 20%;
      float: left;
    }
    
    .stripe .exhibit-resizableDivWidget-resizer {
      display: none;
    }
    .stripe .exhibit-facet-body-frame {
      overflow: hidden;
      height: 11em;
      -moz-transition: height 0.5s ease-in-out;
    }
    .stripe.collapsed .exhibit-facet-body-frame {
      height: 0;
    }

    #text-search {
      margin-bottom: 1em;
    }
    #text-search .exhibit-facet-header {
      float: left;
      margin-right: 1em;
    }
    #text-search .exhibit-text-facet input {
      width: 40%;
    }
    .controls {
      margin: 10px 0 0 10px;
      font-size: small;
    }
    .click {
      color: blue;
      cursor: pointer;
    }
    #exhibit-view {
      clear: both;
    }
    #query {
      display: none;
    }
    #query p {
      margin-bottom: 10px;
    }
    #search-string {
      width: 50%;
      padding: 5px;
    }
    .locale-select:hover {
      background-color: #ff9 !important;
    }
    tr.exists {
      color: #999;
    }
    #continue {
      margin-top: 2em;
    }
    #selected-bugs {
      width: 100%;
      margin: 2em 0;
    }
    #review td, #review th {
      border: none !important;
      text-align: left;
    }
    #selected-bugs small {
      margin-left: 1em;
    }
    #selected-bugs input {
      width: 100%;
    }
    #selected-bugs select[multiple] {
      width: 100%;
      height: 2em;
      -moz-transition: height 0.5s ease-in-out;
    }
    #selected-bugs select[multiple]:hover {
      height: 15em;
    }
    #selected-bugs .summary  {
      width: 70%;
    }
    #selected-bugs .summary input {
      font-size: 12px;
    }
    #selected-bugs .locale {
      width: 20%;
    }
  </style>
{% endblock %}

{% block extra_menu_items %}
  <li><a href="{% url todo.views.new_manually %}">manually</a></li>
{% endblock %}

{% block view %}

  <h1>Create new tasks</h1>
  
  <h2 id="query-header">1. Search for bugs</h2>
  <div id="query">
      <p>Enter something to (quick) search for:</p>
      <form>
        <input id="search-string" type="text" name="qs" />
        <input type="submit" value="Search Bugzilla &rarr;" />
      </form>
  </div>
  
  <h2 id="results-header">2. Choose bugs</h2>
  <div id="results">
  
    <div id="facets">
      <div id="text-search">
        <div ex:role="facet" ex:facetLabel="Text Search" ex:facetClass="TextSearch"></div>
      </div>
      <div class="stripe">
        <div ex:role="facet" ex:expression=".product" ex:facetLabel="Product"></div>
        <div ex:role="facet" ex:expression=".component" ex:facetLabel="Component"></div>
        <div ex:role="facet" ex:expression=".reporter" ex:facetLabel="Reporter"></div>
        <div ex:role="facet" ex:expression=".whiteboard_bits" ex:facetLabel="Whiteboard Flags"></div>
        <div ex:role="facet" ex:expression=".keyword_bits" ex:facetLabel="Keywords"></div>
      </div>
      <div class="stripe">
        <div ex:role="facet" ex:expression=".locale" ex:facetLabel="Guessed locale"></div>
        <div ex:role="facet" ex:expression=".selected" ex:facetLabel="Selected?"></div>
        <div ex:role="facet" ex:expression=".exists" ex:facetLabel="Tasks already exist?"></div>
        <div ex:role="facet" ex:expression=".priority" ex:facetLabel="Priority"></div>
        <div ex:role="facet" ex:expression=".bug_status" ex:facetLabel="Status"></div>
      </div>
      <br />
    </div>
    <div class="controls">
      Select: <span class="click select-all">all</span>, <span class="click select-none">none</span>.
    </div>
  
    <div ex:role="collection" ex:itemTypes="Bug"></div>
    <div id="exhibit-view"
        ex:role="view"
        ex:viewClass="Tabular"
        ex:sortColumn="1"
        ex:rowStyler="existsStyler"
        ex:columnLabels="Select?, Bug, Locale, Summary"
        ex:columns=".bugid, .bugid, .label, .bugid"
        ex:cellSpacing="0">
      <table>
      <tr>
        <td class="check">
          <span ex:select=".selected">
            <span ex:case="yes">
              <input type="checkbox" checked="checked" onchange="updateSelection(this);"/>
            </span>
            <input type="checkbox" onchange="updateSelection(this);"/>
          </span>
        </td>
        <td class="" ex:content=".bugid"></td>
        <td>
          <div class="locale-select" onclick="insertLocaleSelect(this);" ex:data-locale-content=".locale">
            <span ex:content=".locale"></span>
          </div>
        </td>
        <td class="" ex:content=".label"></td>
      </tr>
      </table>
    </div>
    
    <div class="controls">
      Select: <span class="click select-all">all</span>, <span class="click select-none">none</span>.
    </div>
    
    <div id="continue">
      <input type="submit" value="Continue with selected "/>
    </div>
    
  </div>
  
  <h2 id="review-header">3. Review</h2>
  <div id="review">
    <p>Review the tasks that will be created.</p>
    <form action="{% url todo.views.create %}" method="post">
      <input id="number_of_bugs" type="hidden" name="number_of_bugs" value="0"/>
      <table id="selected-bugs">
        <thead>
          <tr>
            <th>Task's summary</th>
            <th>Locale</th>
            <th>Bug</th>
          </tr>
        </thead>
      </table>
      <p>Choose properties common to all the tasks to be created:</p>
      <table>
        <tr><td>{{form.project.label_tag}}</td><td>{{form.project}}</td></tr>
        <tr><td>{{form.prototype.label_tag}}</td><td>{{form.prototype}}</td></tr>
        <tr>
          <td>Batch</td>
          <td>
            <p id="choose-batch-suggestion">Optionally, you can <span class="click" onclick="showBatchChooser();">group the tasks into a batch</span>.</p>
            <div id="choose-batch">
              <p>You can choose an existing batch or create a new one.</p>
              <table>
                <tr>
                  <td rowspan="2">{{form.batch.label_tag}}</td>
                  <td rowspan="2">{{form.batch}}</td>
                  <td rowspan="2">&mdash;&nbsp;OR&nbsp;&mdash;</td>
                  <td>{{form.new_batch_name.label_tag}}</td>
                  <td>{{form.new_batch_name}}</td>
                </tr>
                <tr>
                  <td>{{form.new_batch_slug.label_tag}}</td>
                  <td>{{form.new_batch_slug}}</td>
                </tr>
              </table>
              <p>Changed your mind? <span class="click" onclick="hideBatchChooser();">Cancel</span> <small>(The tasks will be put under <em>Uncategorized tasks</em>.)</small></p>
            </div>
          </td>
        </tr>
      </table>
      <input id="create-tasks" type="submit" value="Create tasks" disabled="disabled" />
    </form>
  </div>

{% endblock %}
