{% extends "base.html" %}
{% block head_matter %}
  <style>
    body {
       margin: 1in;
    }
    p, form {
      margin: 0;
      padding: 0;
    }
    small {
      font-size: 80%;
      color: #666;
    }
    div {
      margin: 10px 10px 10px 20px;
      border: 1px solid #ccc;
      padding: 10px;
    }
  </style>
{% endblock %}



{% block content %}
  {% if error_message %}
    <div>{{error_message}}</div>
  {% endif %}
  <div>
    <form action="{% url todo.views.create %}" method="post">
      <table>  
      {{form.as_table}}
      <tr><td></td><td><input type="submit" value="Create" /></td></tr>
      </table>
    </form>
  </div>
{% endblock %}
