{# vim: set ft=htmldjango ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}

{% block head_matter %}
<script type="application/javascript;version=1.8">
$.fn.slugify = function(obj) {
    jQuery(this).data('obj', jQuery(obj));
    jQuery(this).keyup(function() {
        var obj = jQuery(this).data('obj');
        var slug = jQuery(this).val().replace(/\-+/g,'-')
                                     .replace(/\s+/g,'-')
                                     .replace(/[^a-zA-Z0-9\-]/g,'')
                                     .toLowerCase();
        obj.val(slug);
    });
}
</script>
{% endblock %}

{% block content %}

  <h2>Create new</h2>
  <p>Step {{ step }} of {{ step_count }}</p>
  {% block intro %}{% endblock %}

  <form action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% block fields %}{% endblock %}
    <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
    {{ previous_fields|safe }}
    {% block submit %}{% endblock %}
  </form>
  
{% endblock %}
