{# vim: set ft=htmldjango ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}

{% block content %}
  <small><a href="{% url todo.views.new %}">&larr; back</a></small>
  <h2>Create new trackers</h2>

  <form action="{% url todo-create-trackers %}" method="post">
    {{ form.as_p }}
    <h3>Parent tracker</h3>
    <p>Choosing a parent tracker is optional, but highly recommended if you are creating multiple trackers.</p>
    <p>Be careful if you choose an existing parent tracker or create a new one. <strong>The parent tracker's project and locale <em style="font-size: 1.3em;">will override</em> your choices made above</strong>. If you want to <strong>create multiple trackers for many locales</strong>, make sure the parent tracker has an <strong>empty Locale field below</strong>. (This will be fixed later.)</p>
    {{ parent_form.as_p }}
    <input type="submit" value="Create" />
  </form>
  
{% endblock %}
