{% extends "todo/base.html" %}

{% block extra_menu_items %}
  <li><a href="{% url todo_dashboard %}">all tasks</a></li>
{% endblock %}

{% block view %}

  <h1>Project summary: {{project.name}}</h1>
  
  <div class="groups column left wide">
    
    <ul>
    {% if batches %}
      {% for batch in batches %}
        <li>
          {% if batch.has_tasks %}
            <h4>
              <div class="batch bar" title="{{batch.percent}}% complete ({{batch.resolved|length}} resolved, {{batch.open|length}} open)">
                <div class="progress" style="width: {{batch.percent}}%;"></div>
              </div>
              <a href="{% url todo_project_dashboard project.slug %}?batch={{batch.name}}" title="{{batch.percent}}% complete ({{batch.resolved|length}} resolved, {{batch.open|length}} open)">{{batch.name}}: {{batch.percent}}%</a>
            </h4>
            <ul>
              <li class="done">
                <dl>
                  <dt>{{batch.resolved|length}} Done</dt>
                  <dd>
                  {% for task in batch.resolved %}
                    <a href="{% url todo.views.task task.pk %}">{{task.locale.code}}</a>,
                  {% endfor %}
                  </dd>
                </dl>
              </li>
              <li class="open">
                <dl>
                  <dt>{{batch.open|length}} Open</dt>
                  <dd>
                  {% for task in batch.open %}
                    <a href="{% url todo.views.task task.pk %}">{{task.locale.code}}</a>,
                  {% endfor %}
                  </dd>
                </dt>
              </li>
           </ul>
         {% else %}
           <h4><span class="no_tasks" title="No tasks yet.">{{batch.name}}</span></h4>
         {% endif %}
       </li>
      {% endfor %}
    {% endif %}
    
    {% if other.total %}
        <li>
          <h4><a href="{% url todo_project_dashboard project.slug %}?batch=Uncategorized tasks">Uncategorized tasks</a></h4>
          <ul>
            <li class="done">
              <dl>
                <dt>{{other.resolved|length}} Done</dt>
                <dd>
                {% for locale, tasks in other.resolved_by_locale.iteritems %}
                  {% if tasks|length_is:'1' %}
                    <a href="{% url todo.views.task tasks.0.pk %}">{{locale.code}}</a>,
                  {% else %}
                    {{locale.code}} (<a href="{% url todo_project_dashboard project.slug %}?locale={{locale.name}} ({{locale.code}})&amp;batch=">{{tasks|length}}</a>),
                  {% endif %}
                {% endfor %}
                </dd>
              </dl>
            </li>
            <li class="open">
              <dl>
                <dt>{{other.open|length}} Open</dt>
                <dd>
                {% for locale, tasks in other.open_by_locale.iteritems %}
                  {% if tasks|length_is:'1' %}
                    <a href="{% url todo.views.task tasks.0.pk %}">{{locale.code}}</a>,
                  {% else %}
                    {{locale.code}} (<a href="{% url todo_project_dashboard project.slug %}?locale={{locale.name}} ({{locale.code}})&amp;batch=">{{tasks|length}}</a>),
                  {% endif %}
                {% endfor %}
              </dd>
            </dl>
            </li>
          </ul>
        </li>
    {% endif %}
    
    </ul>
  </div>
  
  <div id="project_summary" class="column right narrow">
    
    <h3>Total progress: <strong>{{percent}}%</strong></h3>
    
    <div class="bar" title="{{percent}}% complete ({{resolved|length}} resolved, {{open|length}} open)">
      <div class="progress" style="width: {{percent}}%;"></div>
    </div>
    
    <p>Total done: {{resolved|length}}<br/>
    Total open: {{open|length}}</p>
    
    <a href="{% url todo_project_dashboard project.slug %}" class="button">View all open tasks &rarr;</a>
    
  </div>
 
{% endblock %}
