{# vim: set ft=htmldjango ts=2 et sts=2 sw=2: #}
{% load recurse urlvar %}

<script type="application/javascript;version=1.8">

$.fn.slugify = function(obj) {
    jQuery(this).data('obj', jQuery(obj));
    jQuery(this).keyup(function() {
        var obj = jQuery(this).data('obj');
        var slug = jQuery(this).val().replace(/\-+/g,'-')
                                     .replace(/\s+/g,'-')
                                     .replace(/[^a-zA-Z0-9\-]/g,'')
                                     .toLowerCase();
        obj.val(slug);
    });
}

$(document).ready(function() {
  var filter = new Filter($('.task'));
    var quickeditors = []
    $('.summary').each(function(i, todo) {
      quickeditors.push(new QuickEditor(todo));
    });
});

function Filter(tasks) {
  this.tasks = tasks;
  this.criteria = {};
  this.bindHandlers();
}

Filter.prototype = {

  bindHandlers: function bindHandlers() {
    var self = this;
    $('input').each(function(i){
      $(this).change(function(){
        if (this.checked) {
          // the checkbox has already been checked in this event
          self.add(this);
          self.exec();
        } else {
          self.remove(this);
          self.exec();
        }
      })

    }); 
  },

  add: function add(checkbox) {
    var property = checkbox.getAttribute('data-property');
    var value = checkbox.value;
    if ( ! this.criteria[property])
      this.criteria[property] = []
    this.criteria[property].push(value);
  },

  remove: function remove(checkbox) {
    var property = checkbox.getAttribute('data-property');
    var value = checkbox.value;
    if (this.criteria[property]) {
      this.criteria[property].splice(this.criteria[property].indexOf(value), 1);
      if (this.criteria[property].length == 0)
        delete this.criteria[property];
    }
  },
  
  exec: function exec() {
    var self = this;

    // If no facets have any selected checkboxes,
    // the tracker tree is displayed in its entirety.
    // No tasks are filtered out.
    if ($.isEmptyObject(self.criteria)) {
      $('#tracker-tree').removeClass('filter-is-on');
      self.tasks.removeClass('selected');
      return;
    }

    // If there's at least one active facet, filter the tasks
    // according to the filter rules in filter.criteria. 
    $('#tracker-tree').addClass('filter-is-on');
    self.tasks.each(function(i){
      // `this` is a task div
      for (prop in self.criteria) {
        var passed = self.check_criterion(prop, this);
        if (! passed) {
          // Facets are ANDed together. If at least one criterion
          // doesn't pass, the task should not be selected.
          $(this).removeClass('selected');
          return true; // continue to the next task
        }
      }
      // If we're here, that means that all criteria checks have passed.
      $(this).addClass('selected');
    });    
  },

  check_criterion: function check_criterion(prop, task_div) {
      var task_props = task_div.getAttribute('data-' + prop);
      // Selections inside a facet are ORed together, hence Array.some.
      var passed = this.criteria[prop].some(function(value, i, values){
        return task_props.indexOf(value) != -1;
      })
      if (passed)
        return true;
      return false;
  }

}

function QuickEditor(todo) {
  // todo is the DOM element with class="summary", representing a todo object
  // (a tracker or a task)
  this.todo = todo;
  this.form = $('form', this.todo).first();
  this.url = this.form.attr('action');
  this.bindHandlers();
}

QuickEditor.prototype = {

  bindHandlers: function bindHandlers() {
    var self = this;
    $('.quickedit', self.todo).click(function() {
      self.showEditable();
    });
    $('.cancel', self.todo).click(function() {
      self.hideEditable();
    });
    self.form.submit(function(e) {
      e.preventDefault();
      self.submit();
    });
    var bug_input = $('input[name="bug"]', self.todo);
    bug_input.slugify(bug_input);
  },

  showEditable: function showEditable() {
    var self = this;
    self.form.children('input').each(function() {
      self.setToDefault($(this));
    });
    $('.noneditable', self.todo).fadeOut('slow', function() {
      $('.editable', self.todo).fadeIn('slow');
    });
  },

  hideEditable: function hideEditable() {
    var self = this;
    $('.editable', self.todo).fadeOut('slow', function() {
      $('.noneditable', self.todo).fadeIn('slow');
    });
  },

  submit: function submit() {
    var self = this;
    var controls = this.form.serializeArray();
    // `controls` is an array holding the data from the form's controls
    // it has the following structure:
    // [{name: a, value: 1}, {name: b, value: 2}]
    // convert it to an object like this one: {a:1, b:2}
    // (this won't work for checkboxes, but that's fine for thisuse case)
    var data = {};
    var no_values_changed = true;
    controls.forEach(function(control, i) {
      console.log(control.name, control.value, ' default: ', self.getDefault(control.name))
      data[control.name] = control.value;
      if (control.value != self.getDefault(control.name))
        no_values_changed = false;
    });
    if (no_values_changed) {
      self.hideEditable();
      return;
    }
    $.post(this.url, data, function(response) {
      console.log(response.status, response.message)
      if (response.status == 'ok') {
        // `response.data` is a list of serialized todo objects that have
        // been changed
        var todo = response.data[0].fields;
        // see todo.models.{Tracker,Task}.get_bug
        todo.bug = todo.bugid || todo.alias;
        for (prop in todo) {
          self.replace(prop, todo[prop]);
        }
        self.hideEditable();
      } else {
        alert(response.message);
      }
    }, 'json');
  },

  getDefault: function getDefault(input) {
    if (typeof input == 'string' || input.constructor == String)
      input = $('input[name='+input+']', this.form); 
    return input.attr('data-default');
  },

  setDefault: function setDefault(input, value) {
    if (typeof input == 'string' || input.constructor == String)
      input = $('input[name='+input+']', this.form); 
    input.attr('data-default', value);
  },

  setToDefault: function setToDefault(input) {
    if (typeof input == 'string' || input.constructor == String)
      input = $('input[name='+input+']', this.form); 
    input.attr('value', this.getDefault(input));
  },

  replace: function replace(prop, value) {
    // change the displayed value in the HTML
    $('.replace-'+prop, this.todo).text(value);
    // and the default value for the input
    this.setDefault(prop, value);
  },

}

</script>

<h2>Tracker tree</h2>

<div id="tracker-tree" class="column left wide">
{% recurse_children %}

  {% for tracker, subtree in tree.trackers.iteritems %}
    <div class="tracker"> 
      <div class="summary">
        {% if tracker.locale %}[{{tracker.locale.code}}]{% endif %}
        <span class="noneditable">
          <span class="replace-summary">{{tracker}}</span>
          {% if perms.todo.change_tracker %}
            <small class="quickedit">✎</small>
          {% endif %}
        </span>
        <span class="editable">
          <form action="{% url todo-api-update-tracker tracker.id %}" method="post">
            <input type="text" name="summary" data-default="{{tracker}}"/>
            <input type="text" name="bug" data-default="{{tracker.bug|default_if_none:''}}"/>
            <input type="submit" value="OK"/> <span class="cancel">Cancel</span>
          </form>
        </span>
        <a class="permalink" href="{% urlvar tracker_view tracker.pk %}">#</a>
      </div>
      <div class="children">
         {% recurse subtree as tree %}
      </div>
    </div>
  {% endfor %}

  <div class="tasks">
    {% for task, props in tree.tasks.iteritems %}
    <div class="task {{task.get_status_display}}"
        {% for prop, vals in props.iteritems %}
          data-{{prop}}="{{vals|join:'|'}}"
        {% endfor %}>
        {% if task.is_open %}
          <span class="summary">
            {% if task.locale %}[{{task.locale.code}}]{% endif %}
            <span class="noneditable">
              <a href="{% urlvar task_view task.pk %}" class="replace-summary">{{task}}</a>
              {% if perms.todo.change_task %}
                <small class="quickedit">✎</small>
              {% endif %}
            </span>
            <span class="editable">
              <form action="{% url todo-api-update-task task.id %}" method="post">
                <input type="text" name="summary" data-default="{{task}}"/>
                <input type="text" name="bug" data-default="{{task.bug|default_if_none:''}}"/>
                <input type="submit" value="OK"/> <span class="cancel">Cancel</span>
              </form>
            </span>
          </span>
          {% for step in task.next_steps %}
            <small>{{step.owner}}: {{step.summary}}</small>
          {% endfor %}
        {% else %}
          <div class="summary">{{task}} <a class="permalink" href="{% urlvar task_view task.pk %}">#</a></div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

{% endrecurse %}
</div>

<div class="column right narrow">
  <h3>Filters</h3>
  {% for prop, value_list in facets.iteritems %}
    <div class="facet">
      <h4>{{prop}}</h4>
      <div class="values">
        {% for val in value_list %}
        <input type='checkbox' value="{{val}}" data-property="{{prop}}"/>
          <div class="value">
            {{val}}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
