{% load recurse urlvar %}

<h2>Tracker tree</h2>

{% recurse_children %}
  {% for tracker in trackers %}
  
    <div class="tracker"> 
      <p>{{tracker.summary}} <a class="permalink" href="{% urlvar tracker_view tracker.pk %}">#</a></p>
      <div class="children">
         {% recurse tracker.children.all as trackers %}
         <div class="tasks">
         {% for task in tracker.tasks.all %}
         <p><a href="{% urlvar task_view task.pk %}">{{task}}</a></p>
         {% endfor %}
        </div>
      </div>
    </div>

  {% endfor %}
{% endrecurse %}
